{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<!--Start Navigation Section-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <h6 class="navbar-brand" href="#">NIISe Projects</h6>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Result</a>
        </li>
        -->
      </ul>

      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!--End Navigation Section-->

<center>
  <h1>Natural Language Processing</h1>
</center>

<!--Start Input File Section-->
<div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02" />
  <label class="input-group-text" for="inputGroupFile02">Upload</label>
</div>
<!--End Input File Section-->

{% endblock %}
